body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4d4d4d; /* Dark Gray */
    color: #ffffff; /* White text for better contrast */
}

header {
    background-color: #333333; /* Dark Gray */
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ff6666; /* Reddish */
    font-weight: bold;
}

main {
    text-align: center;
    color: #000000; /* Black text for better contrast */
}

#hero {
    position: relative;
    height: 400px;
    background: url('background_image.jpg') center/cover no-repeat;
    color: #ffffff; /* White text for better contrast */
}

.quote {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: larger;
}

blockquote {
    font-style: italic;
}

#slider {
    position: relative;
}

.slide {
    display: none;
}

img {
    width: 100%;
}

footer {
    background-color: #222222; /* Dark Gray */
    color: #ffffff; /* White text for better contrast */
    text-align: center;
    padding: 10px;
    width: 100%;
    clear: both; /* Clear the floated elements */
}

.video-container {
    margin-top: -330px;
    position: relative;
    z-index: 1;
}

/* Add these styles to ensure proper spacing */
video {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Add a new style for the paragraph color */
p {
    color: #ffffff; /* White text for better contrast */
    font-size: 16px; /* Adjust the font size as needed */
    line-height: 1.6; /* Adjust the line height for better readability */
    margin: 20px 0; /* Add margin for spacing around the paragraph */
}
